<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>cyaru</title>
<link rel="stylesheet" href="cyaru.css" type="text/css">
<style type="text/css">
      @@import url("top_specialstyle.css");
</style>
</head>
<body>
  <!-- コンテナ -->
  <div id="container">
    <!-- ヘッダー -->
<header>
    <h1>Cyaru</h1>
</header>
<!-- メイン  -->
<main>
<section>
<h2>自分について</h2>
    <p>私が某女子大の４年生です。２０１６年から新卒SEとして働くことになりました。<br>
これから、頑張っていきたいと思います。何かご質問があればお問い合わせください
<a href="/cyaru">
お問い合わせはこちら</a>   </p>
  <p>このサイトは練習用です</p>
</section>
</main>
<!-- フッター -->
<footer>
<hr>
<p>Copyright (C)  Cyaru, All rights reserved.
</p>
</footer>
</div>
</body>
</html>
