<!DOCTYPE HTML>
<html lang="ja">
<head>

<meta charset="utf8">
<title>お問い合わせ</title>
<body>
<div>
  <h1>お問い合わせ</h1>
  <p class="message">下記の項目を入力し、送信ボタンを押してください</p>
  <p></p>
  <label for="email" >メールアドレス：（必須）</label><br>
  <input type="email" id="email name="email placeholder="例.cyaru@gmail.com">
  <p></p>
  <label for="message">お問い合わせ内容:（必須）</label><br>
  <textarea rows ="4" cols="40" id="message"placeholder="問い合わせ"></textarea>
  <p>
  <input type="submit" value="送信">
  <input type="reset" value="取消">
</p>
</form>
<div>
</body>
